.alertjk{
    padding: 20px 40px;
    margin: 0 20px;
    border-radius: 2px;
    font-size: 20px;
}
.alertjk-blue{
    background: #9bbef3;
    color: rgb(35, 35, 252);
    border: 1px solid rgb(92, 92, 253);
}
.alertjk-gray{
    background: rgb(185, 185, 185);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(155, 155, 155);
}
.alertjk-green{
    background: #aae7cb;
    color: #1f6142;
    border: 1px solid #1b8b57;
}

.alertjk-red{
    background: #fabfc5ee;
    color: #7a2a32ee;
    border: 1px solid #ca2d3dee;
}
.alertjk-yellow{

}
.alertjk-info{

}