.btn-group{
    width:fit-content;
    display: flex;
    background-color: red;
    height: 10;
    color: white;
    padding: 0 20px;
    border-radius: 5px;
}
button{
    background: none;
    border: 0;
    color: white;
    font-size: 22px;
}
