.control-jkforms, input[type=password], input[type=email], input[type=text] {
  width: 100%;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  margin: 6px 10px;
  font-family: "Roboto", sans-serif;
  outline: none;
  transition: 0.2s;
  font-size: 15px;
  color: rgb(31, 31, 31);
}

input[type=password], input[type=email], input[type=text] {
  height: 40px;
  padding: 0 10px;
}

.control-jkforms:focus, input[type=password]:focus, input[type=email]:focus, input[type=text]:focus, textarea:focus {
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 0 0 5px 2px #57bafc;
  -moz-box-shadow: 0 0 2px 2px #57bafc;
  box-shadow: 0 0 2px 2px #57bafc;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.form-lg {
  height: 60px;
  font-size: 25px;
}

.form-sm {
  height: 30px;
}