.jk-img{
    height: auto;
    width: auto;    
}
.sm{
    height: 10%;
    width: 10%;
}
.md{
    height: 20%;
    width: 20%;
}
.lg{
    height: 30%;
    width: 30%;
}
.rounded-2{
    border-radius: 2px;
}
.rounded-4{
    border-radius: 4px;
}
.rounded-8{
    border-radius: 8px;
}
.rounded-12{
    border-radius: 12px;
}
.rounded-16{
    border-radius: 16px;
}
.rounded-20{
    border-radius: 20px;
}
.rounded-30{
    border-radius: 30px;
}
.rounded-40{
    border-radius: 40px;
}
.rounded-50{
    border-radius: 50px;
}
.rounded-100{
    border-radius: 100px;
}

.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}
.justify-even{
    justify-content: space-evenly;
}
.justify-around{
    justify-content: space-around;
}
.justify-right{
    justify-content: right;
}

.justify-left{
    justify-content: left;
}

.justify-center{
    justify-content: center;
}
.justify-test{
    justify-content:center;
}