.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.modal-content{
  background: #fff;
  margin-top: 100px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.modal-header{
  padding: 20px 20px;
  background: #e7e7e7;
  border-bottom: 1px solid rgb(223, 223, 223);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 20px;
  
}
.modal-body{
  margin: 20px 15px;
}