.mx-2{
    margin: 0 2rem;
}
.mx-4{
    margin: 0 4rem;
}
.mx-6{
    margin: 0 6rem;
}
.mx-8{
    margin: 0 8rem;
}
.mx-12{
    margin: 0 12rem;
}
.mx-16{
    margin: 0 16rem;
}
.mx-20{
    margin: 0 20rem;
}
.mx-24{
    margin: 0 24rem;
}
.mx-30{
    margin: 0 30rem;
}
.mx-36{
    margin: 0 36rem;
}
.mx-40{
    margin: 0 40rem;
}
.px-2{
    margin: 0 2rem;
}
.px-4{
    margin: 0 4rem;
}
.px-6{
    margin: 0 6rem;
}
.px-8{
    margin: 0 8rem;
}
.px-12{
    margin: 0 12rem;
}
.px-16{
    margin: 0 16rem;
}
.px-20{
    margin: 0 20rem;
}
.px-24{
    margin: 0 24rem;
}
.px-30{
    margin: 0 30rem;
}
.px-36{
    margin: 0 36rem;
}
.px-40{
    margin: 0 40rem;
}