.mx-2{
    margin: 0 2rem;
}
.mx-4{
    margin: 0 4rem;
}
.mx-6{
    margin: 0 6rem;
}
.mx-8{
    margin: 0 8rem;
}
.mx-12{
    margin: 0 12rem;
}
.mx-16{
    margin: 0 6rem;
}
.mx-20{
    margin: 0 6rem;
}
.mx-24{
    margin: 0 6rem;
}
.mx-30{
    margin: 0 6rem;
}
.mx-36{
    margin: 0 6rem;
}
.mx-40{
    margin: 0 6rem;
}