.jk-popup{
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px 40px;
    color: #333;
    transition: transform 0.5s, top 0.5s;
    visibility: hidden;
    border: 1px solid gray;

}

.jk-popup-open{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
    
}