.jk-popup{
    width: 400px;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px 40px;
    color: #333;
}