.jk-table{
    width: 100%;
    border-radius: 10px;
}
.jk-table thead th{
    height: 40px;
    border-bottom: 1px solid rgb(185, 185, 185);
}
.jk-table tbody td{
    padding: 10px;
    border-bottom: 1px solid rgb(233, 233, 233);
}
.jk-table thead th:first-child{
    border-radius: 8px 0 0 0;
}
.jk-table thead th:last-child{
    border-radius: 0 8px 0 0;
}